{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
{% load crispy_forms_tags %}


<style>
	body{
		color: black;
	}
</style>


  <div class="container"  style="padding-top: 40px;" >
	<div class="col-md-10 offset-md-1 mt-5">
		<div class="jumbotron">
			<h1 class="display-8">Booking Page</h1>
			<!-- <p class="lead font-italic" style="color: blue;">Place Your Order and We will Respond To You as Soon as Now</p>
			<hr class="my-4"> -->
			<div class="row">
				<div class="col-md-12">
					<div class="card card-body">
			
						<form action="" method="POST">
							{% csrf_token %}
							<div class="col-md-10">
							{{form.name|as_crispy_field}}
						</div>

						<div class="row">
							<div class="col-md-8">
								{{form.phone|as_crispy_field}}
							</div>
							<div class="col-md-4">
								{{form.reach_me_via|as_crispy_field}}
							</div>
						</div>
						
						
						<div class="row">
							<div class="col">
								{{form.service|as_crispy_field}}
							</div>
							<div class="col-5">
								{{form.location|as_crispy_field}}
							</div>
							<div class="col">
								{{form.Service_me_at|as_crispy_field}}
							</div>
						  </div>
						
						
						
						
							
				{{form.discription|as_crispy_field}}
							<br>
							<div class="row">
								<div class="col-md-12">
									
									<button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
										Submit</button>
								</div>			
							
						</form>
			
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  {% endblock content %}