{% load static %}

<style>
    .card{
        background-color: black;
        
      
    }
</style>
<div class="container">
<H2>Some of Customers' Testmonials</H2>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <div class="card-group">
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/o.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5 >Esimba</h5>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>I got amazing massage and full package services. I ever recommend "The LifeStyle".<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/o.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5>Mzee Chucho</h5>
                <p class="card-text"><i class="fa-solid fa-quote-left"></i>Thank you. You have made made test a variety of beautiful ladies at affordable price.<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/oo.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5>Madam Rainbow</h5>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>The massage service you offer is exemplary. Keep it up<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="card-group">
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/o.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5>Tarus Specialist</h5>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>Amazing work. No complain at all.<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/o.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5>Dr Onkembi</h5>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>I always enjoy best services especially "bedwork" .<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/oo.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5>Bridgo</h5>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>I like the Fu** I Recieved from Kimbepe. He is a professional indeed<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
          </div>
        </div>
    </div>
      <div class="carousel-item">
        <div class="card-group">
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/o.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5 >Nguguyangu G</h5>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>This site is wounderful. No more Kilimani.<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/o.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5> Creig Montana</h5>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>Great! The LifeStyle brings service at my disposal</p>
              </div>
              
            </div>
            <div class="card">
                <span style="text-align: center;"><img src="{% static 'images/o.jpg' %}" alt="" class="rounded"width="50px" height="50px"></span>
              <div class="card-body">
                <h5>Shayi Mpepe</h5>
                <p class="card-text">
                    <i class="fa-solid fa-quote-left"></i>Here is a place to be. I recommend The Lifestyle forever.<i class="fa-solid fa-quote-right"></i></p>
              </div>
              
            </div>
          </div>
      </div>
 
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="color: blue;"></span>
      <span class="visually-hidden"><b style="color: green;">Next</b></span>
    </button>
  </div>
</div>

